/**
 * Fullscreen Layout Styles
 */

.layout-fullscreen {
  width: 100%;
  height: 100%;
}

.layout-fullscreen .canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}
